.dashcardhis {
  width: 80%;
  margin-bottom: 15px;
  padding: 10px 30px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: 200px;
  border: solid 1px #dfdfdf;
  transition: 0.3s ease-in-out;
}
.dashcardhis:hover {
  box-shadow: -5px 5px 10px 0 #00000033;
  cursor: pointer;
}

.dashcardhis-rgt {
  width: 400px;
  height: 200px;
  margin-right: 20px;
}

.dashcardhis-info {
  width: 300px;
  margin-right: 20px;
}

.dashcardhis-lft {
  width: 200px;
  padding: 10px;
  margin-right: 20px;
  margin-left: auto;
  display: flex;
  flex-direction: column;
}

.dashcardhis-lft > button {
  margin-bottom: 0 ;
  background-color: transparent;
  padding: 10px;
  transition: 0.3s ease-in-out;
}
.dashcardhis-lft > button:hover {
  background-color: #000000;
  cursor: pointer;
  color: #ffffff;
}

.his-h1{
  font-size: 2rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #29435cab;
}
