.reqForm-head {
  background-color: #29435cab;
  padding: 20px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}
.reqForm-head-h1 {
  font-size: 2.5rem;
  font-weight: 700;
}
.reqForm-head-p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 5px;
  margin-bottom: 10px;
  padding: 0 25%;
}

.reqForm-section {
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  padding: 50px;
  margin: 20px;
  border: 1px solid #dfdfdf;
  transition: all 0.2s ease-in-out;
}
.reqForm-section:hover {
  box-shadow: -5px 5px 10px 0 #00000033;
  border: 1px solid #ffffff;
}

.reqForm-section-h1 {
  font-size: 2rem;
  font-weight: 700;
}
.reqForm-section-p {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 20px;
}
.reqForm-section-h3 {
  font-size: 1.5rem;
  font-weight: 500;
  margin-top: 20px;
}
.reqForm-section > input {
  width: 50%;
  padding: 5px;
  margin: 5px 20px 0px 0;
  border: 1px solid #29435cab;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 150;
}

.error-msg {
  color: red;
  font-size: 14px;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

.reqForm-btn {
  color: #000000;
  padding: 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 300;
  margin: 20px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  transition: all 0.2s ease-in-out;
}

.reqForm-btn > input {
  padding: 20px 100px;
  border: 1.5px solid #008d0c;
  border-radius: 30px;
  background: transparent;
  color: #008d0c;
  transition: all 0.2s ease-in-out;
  font-size: 24px;
  font-weight: 500;
  margin-left: auto;
  margin-right: auto;
}

.reqForm-btn > input:hover {
  background-color: #63ce6c;
  color: #ffffff;
}

.reqForm-btn > p {
  font-size: 20px;
  font-weight: 300;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}
