*{
    max-width: 100%;
}

.home-hero {
  position: relative;
  width: 100vw;
  height: 85vh;
  overflow: hidden;
}
.home-hero video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.2);
}
.home-hero-text {
  position: absolute;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  padding: 8% 30% 0 30%;
}
.home-hero-text h3 {
  font-size: 2.5rem;
  padding-bottom: 0;
  margin-bottom: -10px;
  font-weight: 400;
}
.home-hero-text h1 {
  font-size: 5rem;
  margin-bottom: 1rem;
}
.home-hero-text p {
  font-size: 1.5rem;
  font-weight: 150;
  margin-bottom: 1rem;
  margin: 0 7% 1rem 7%;
}

.cta-btn {
  padding: 12px 25px;
  margin: 8px 2rem;
  border: 1px solid #ffffff;
  border-radius: 30px;
  background: transparent;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  font-size: 1rem;
}

.cta-btn:hover {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

.home-newBooks{
  padding: 50px 0;
  background: rgb(231,231,231);
  background: radial-gradient(circle, rgba(231,231,231,1) 0%, rgba(123,156,200,1) 100%);
}

.home-newBooks-head {
  font-size: 3rem;
  margin-bottom: 5px;
  text-align: center;
}
.home-newBooks-text {
  font-size: 1.25rem;
  font-weight: 150;
  margin-bottom: 2rem;
  text-align: center;
}

.home-newBooks-row{
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  margin-right: auto;
}

.home-newBooks-cta {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 50px;
  border: 1.5px solid #000000;
  border-radius: 30px;
  background: transparent;
  color: #000000;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}
.home-newBooks-cta:hover{
  background-color: #000000;
  color: #ffffff;
}

.home-catagories{
  padding: 50px;
}

.home-catagories-head {
  font-size: 3rem;
  margin-bottom: 5px;
  text-align: center;
}
.home-catagories-text {
  font-size: 1.25rem;
  font-weight: 150;
  margin-bottom: 2rem;
  text-align: center;
}

.home-catagories-btn{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 0 0 20px 0 ;
  list-style: none;
}

.home-catagories-cta {
  display: block;
  margin: 20px auto 0 auto;
  padding: 10px 50px;
  border: 1.5px solid #000000;
  border-radius: 30px;
  background: transparent;
  color: #000000;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}
.home-catagories-cta:hover{
  background-color: #000000;
  color: #ffffff;
}

.view-all{
  border: 1.5px solid #699BDD;
  color: #699BDD;
}
.view-all:hover{
  background-color: #699BDD;
  color: #020202;
}

.home-post{
  background: rgb(0, 0, 0);
  color: #ffffff;
  display: flex;
  max-height: 400px;
}
.home-post-lft{
  width: 50%;
  margin: 100px;
}
.home-post-rgt{
  width: 50%;
  max-height: 400px;
}


.home-post-cta-head {
  font-size: 3rem;
  margin-bottom: 5px;
  margin-top: -10px;
  text-align: left;
}
.home-post-cta-text {
  font-size: 1.25rem;
  font-weight: 150;
  margin-bottom: 5px;
  text-align: left;
}

.home-post-cta {
  display: block;
  margin: 20px 0 ;
  padding: 10px 50px;
  border: 1.5px solid #ffffff;
  border-radius: 30px;
  background: transparent;
  color: #ffffff;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}
.home-post-cta:hover{
  background-color: #ffffff;
  color: #000000;
}

.home-post-img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.home-rmndr{
  text-align: center;
  font-size: 5rem;
  margin: 100px;
  padding-bottom: 20px;
  color: #242D32;
}


.home-end{
  background: #EAF3FA;
  color: #1A5779;
  display: flex;
  height: 400px;
}
.home-end-lft{
  width: 50%;
  max-height: 400px;
  margin-bottom: 55px;
}
.home-end-rgt{
  width: 50%;
  max-height: 400px;
  text-align: right;
}

.home-end-head {
  font-size: 3rem;
  width: 65%;
  padding-top: 100px;
  margin: 0 100px 0 auto;
}
.home-end-cta {
  display: block;
  margin: 20px 100px 0 auto;
  padding: 10px 50px;
  border: 1.5px solid #000000;
  border-radius: 30px;
  background: transparent;
  color: #000000;
  transition: all 0.2s ease-in-out;
  font-size: 16px;
}
.home-end-cta:hover{
  background-color: #1A5779;
  color: #ffffff;
}

.home-end-img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  margin-top: 50px;
}